<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578994442222-tr1cubi4l7mdatc3g38ckvtgmev19d94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578994442222-tr1cubi4l7mdatc3g38ckvtgmev19d94</string>
	<key>API_KEY</key>
	<string>AIzaSyAW9QVlxDJC3TF05-vxjPNrlVRSxNhmbpY</string>
	<key>GCM_SENDER_ID</key>
	<string>578994442222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebasesample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-c6cc7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-c6cc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578994442222:ios:7f97e3fdf53da99f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sample-c6cc7.firebaseio.com</string>
</dict>
</plist>